<a href="http://localhost:3000/rock/">Play Rock</a>
<a href="http://localhost:3000/paper/">Play Paper</a>
<a href="http://localhost:3000/scissors/">Play Scissors</a>

<h1>YOU PLAYED ROCK!!!</h1>

<img src="http://localhost:3000/assets/images/rock.png" width="200" alt="" />



<p>
  The computer played <%= @computer_move %>
</p>

<img src= <%= @computer_img_url %> width = "200" alt="" />

<% if @computer_move == "rock" %>
  <h3>You tied!</h3>
<% end %>
